<% provide(:content, "Sample App") %>
<form id="target"  >
  <input type="text" id="myInput" name="myInput" placeholder="Type a Country" autocomplete="off"/>
  <input type="button" id="login" value="Login" placeholder="Login" />
</form> 


