<% provide(:content, "Sample App") %>
<form id="target"  >
	<input type="text" id="myInput" name="myInput" />
	<input type="submit" value="Submit">
</form> 
<script src='/assets/d3trial.js'></script>
<style type="text/css">

.country {
	fill: #aaa;
	stroke: #fff;
	stroke-width: 0.75px;
}

#container {
	padding:20px;
}

</style>


