<% provide(:content, "Sample App") %>
<form id="target"  >
  <input type="text" id="myInput" name="myInput" placeholder="Type a Country" autocomplete="off"/>
</form> 
<script type="text/javascript" src='/assets/d3trial.js'></script>
<style type="text/css">

.hidden {
	display: none;
}

input {
	width: 300px;
	height: 30px;
	border: none;
	top: 150px;
}
input[type="text"]
{
    font-size:24px;
}

input:focus {
	outline: none;
}

.country {
	fill: #aaa;
	stroke: #fff;
	stroke-width: 0.75px;
}

#container {
	padding:20px;
}

</style>


