<% provide(:content, "Sample App") %>
<form id="target">
  <input type="text" id="myInput" name="myInput" placeholder="Type a Country" autocomplete="off"/>
  <%= link_to "Sign Up", 'users/new'%>
</form> 


