<% provide(:content, "Sample App") %>
<form id="target">
	<div class="topbar">
	  <input type="text" id="myInput" name="myInput" placeholder="Type a Country" autocomplete="off"/>
	  <div class="innertopbar">
	  </div>
  </div>
</form> 

<!-- 	  <%= link_to "Sign Up", 'users/new', {:class => 'signup'}%>



