<header>Sign up</header>
<form>
  <input type="text" id="signupname" placeholder="Name" />
 	<input type="text" id="signupemail" placeholder="Email" />
  <input type="password" id="signuppassword" placeholder="Password" autocomplete="off"/>
  <input type="password" id="signupconf" placeholder="Confirmation" autocomplete="off"/>
  <input type="Submit" id="submit" placeholder="Submit"/>




</form>